#getApp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10vw;
    margin-left: 7vw;
    margin-top: 3vw;
}
#getApp div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#getApp div p{
    font-family: 'Roboto';
    color: #727272;
    font-size: 19px;
    width: 33vw;
    line-height: 30px;
}
#getApp div h1{
    font-family: 'Inter Tight';
    width: 30vw;
}
#getApp div button{
    font-family: 'Inter Tight';
    color: white;
    background-color:#222222;
    margin-top: 1vw;
    border-radius: 10px;
    font-size: 16px;
    padding: 1vw 2vw;
    width: 14vw;
}
#getApp div img{
    width: 45vw;
}

@media screen and (max-width: 600px) {
    #getApp{
    display: grid;
    grid-template-columns: 1fr;
    height: 190vh;
}
#getApp div p{
    font-family: 'Roboto';
    color: #727272;
    font-size: 19px;
    width: 80vw;
    line-height: 30px;
}
#getApp div img{
    width: 90vw;
}
#getApp div h1{
    font-family: 'Inter Tight';
    width: 80vw;
    font-size: 5vw;
}
#getApp div button{
    font-family: 'Inter Tight';
    color: white;
    background-color:#222222;
    margin-top: 1vw;
    border-radius: 10px;
    font-size: 16px;
    padding: 1vw 2vw;
    width: 30vw;
}

}