#logo{
    width: 11vw;
}
#nav-items{
    display: flex;
    justify-content: space-between;
}

#nav-items ul li{
    list-style: none;
}
#nav-items ul li a{
    list-style: none;
    margin-right: 1.4vw;
    font-family: 'Roboto';
    color: #5F6368;
    font-size:1vw;
    font-weight: 600;
}
#nav-items ul li a:hover{
    color: black;
}
#nav-items button{
    padding: 0px 1.2vw;
    margin: 5px 0px;
    margin-left: 2vw;
    margin-right: 1vw;
    background-color: #222222;
    color: #fefefe;
    border: none;
    border-radius: 1vh;
    font-weight: 600;
    font-size: 13px;
}