nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:3vw;
}
#logo{
    width: 11vw;
}
#nav-items{
    display: flex;
    justify-content: space-between;
}

#nav-items ul li{
    list-style: none;
}
#nav-items ul li a{
    list-style: none;
    margin-right: 1.4vw;
    font-family: 'Roboto';
    color: #5F6368;
    font-size:1vw;
    font-weight: 600;
}
#nav-items ul li a:hover{
    color: black;
}
#nav-items button{
    padding: 0px 1.2vw;
    margin: 5px 0px;
    /* margin-left: 2vw;
    margin-right: 1vw; */
    background-color: #222222;
    color: #fefefe;
    border: none;
    border-radius: 1vh;
    font-weight: 600;
    font-size: 13px;
}
#ham{
    display: none;
}

@media screen and (max-width: 600px) {

    nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:7vw;
}
  
#logo{
    width: 28vw;
}
#nav-items{
    display:none;
}
#ham{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    margin-right: 2vw;
}
#ham button{
    font-family: sans-serif;
    font-weight: 600;
    background-color: white;
    border: none;
    font-size: medium;
}
.ham{
    border: 1px solid black;
    width: 3vw;
    margin-bottom: 0.5vw;
}

}