#options{
    width: 100vw;
    height: 75vh;
    background-color:#e9e9e9;
}
#card-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 0px;
    margin: 6vw 8vw;

}
.cards{
    margin: 10px;
    background-color: white;
    height: 52vh;
    width: 20vw;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards img{
    width: 10vw;
}
.cards p{
    width: 15vw;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto';
    margin-top: -0.5vw;
}
.cards h2{
    font-family: 'Inter Tight';
}
.cards button{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 1vw;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 12vw;
}

@media screen and (max-width: 600px) {
    
    #card-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    margin: 6vw 8vw;

}
.cards{
    margin: 10px;
    background-color: white;
    height: 40vh;
    width: 85vw;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards img{
    width: 20vw;
}
.cards p{
    width: 80vw;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto';
    margin-top: -0.5vw;
}
.cards h2{
    font-family: 'Inter Tight';
}
.cards button{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 1vw;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 30vw;
}
#options{
    width: 100vw;
    height: 180vh;
    background-color:#e9e9e9;
}
}