#srchAgents{
    /* border: 2px solid red; */
    height: 150vh;
    padding: 0vw 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5vh;
    
}
#srchAgents .agentDetails{
    /* border: 2px solid red; */
    box-shadow: 1px 1px 5px grey;
    border-radius:17px;
    height: 70vh;
    width: 25vw;
    margin: 0px;
}
#srchAgents .agentDetails ul{
    width: 19vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#srchAgents .agentDetails p{
    font-family: 'Roboto';
}
#srchAgents .agentDetails h3{
    font-family: 'Inter Tight';
}
#srchAgents .agentDetails ul p{
    margin-top: -1vw;;
    font-family: 'Roboto';
}
#srchAgents .agentDetails ul h3{
    font-family: 'Inter Tight';
}
#srchAgents .agentDetails img{
    width: 25vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#agentDetails{
    padding: 0vw 1vw;
}
#agentDetails button{
    width: 23vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 1.2vw;
}
#agentDetails button:hover{
    cursor: pointer;
    background-color: black;
    color:white;
}