#redblockAgents{
    /* border:1px solid red; */
    width: 99vw;
    height: 60vh;
    background-color: #faf9f8;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#redblockAgents h1{
    font-family: 'Inter Tight';
}
#redblockAgents-cont{
    /* border: 1px solid red; */
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}
.redblockAgents-cont-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #fefefe;
    height: 40vh;
    width: 22vw;
    border-radius: 10px;
}
.redblockAgents-cont-card img{
    width: 10vw;
    margin-top: 1vw;
}
.redblockAgents-cont-card p{
    width: 18vw;
    text-align: center;
    margin-top: -0.5vw;
}