#rentalResources{
    padding: 2vw;
    height: 50vh;
    width: 100vw;
}
#rentalResources .div1{
    margin-left: 7vw; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 80vw;
}
#rentalResources h2{
    font-family: 'Inter Tight';
    margin-left: 7vw;
    font-size: 33px;
    color: #333333;
}
#rentalResources .rentcards{
    height: 42vh;
    width: 26vw;
   box-shadow: 1px 1px 5px rgb(172, 167, 167);
    border-radius: 10px;
}

#rentalResources .rentcards img{
    height: 28vh;
    width: 26vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#rentalResources .rentcards p{
    width: 23vw;
    margin: 1vw;
    font-size: 19px;
    font-family: 'Inter Tight';
}
#rentalResources .rentcards a{
    width: 23vw;
    margin: 1vw;
    font-size: 16px;
    font-family: 'Inter Tight';
    text-decoration: none;
    color: #2d7b82;
}

@media screen and (max-width: 600px) {
    #rentalResources{
    /* padding: 2vw; */
    height: 135vh;
    width: 100vw;
}
#rentalResources .div1{
    margin-left: 7vw; 
    flex-direction: column;
    width: 90vw;
}
#rentalResources .rentcards{
    height: 42vh;
    width: 90vw;
}
#rentalResources .rentcards img{
    height: 30vh;
    width: 90vw;
}
#rentalResources .rentcards p{
    width: 90vw;
    font-size: 3vw;
    margin: 2vw;
}
#rentalResources .rentcards a{
    width: 90vw;
    margin: 2vw;
    font-size: 2.5vw;
}
}