#search{
    height: 52vh;
    width: 100vw;
    background-image: url("cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1vh;
}
#left-search{
    position: relative;
    top: 4.6vh;
    left: 9vw;
    color: white;
    width: 100vw;

}
#left-search h1{
    font-family:'Inter Tight';
    font-size:43px;
    width: 26vw;
}
#left-search ul li{
    list-style: none;
    padding: 1.7vh;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background-color: #d8cfc5;
    color: black;
    font-weight: normal;
    font-family: 'Roboto';

}
#left-search ul{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    width: 27vw;
    margin-bottom: 0px;
}
#searchbar{
    background-color: white;
    width: 37vw;
    height: 9vh;
    border-radius: 10px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#searchbar input{
    margin-left: 1vw;
    height: 3vw;
    width: 28vw;
    border: none;
}
#searchbar div{
    background-color: #fe4d03;
    border-radius: 10px;
    padding: 1vw 1vw;
    margin-right: 1vw;
    height: 1.5vw; 
    width: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 43px) and (max-width: 980px) {
    #search{
    height: 40vh;
    width: 100vw;
    background-image: url("cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1vh;
}
#ex{
    display: none;
}
#left-search{
    position: relative;
    top: 4.6vh;
    left: 9vw;
    color: white;

}
#left-search h1{
    font-family:'Inter Tight';
    font-size:5vw;
    width: 46vw;
}
#left-search ul li{
    list-style: none;
    padding: 1.7vh;
    height: 1vh;
    width: 6vw;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background-color: #d8cfc5;
    color: black;
    font-weight: normal;
    font-family: 'Roboto';
}
#left-search ul{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin-bottom: 0px;
}
#searchbar{
    background-color: white;
    width: 80vw;
    height: 9vh;
    border-radius: 10px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#searchbar div{
    background-color: #fe4d03;
    border-radius: 10px;
    padding: 1vw 1vw;
    margin-right: 1vw;
    height: 5vw; 
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbar input{
    margin-left: 3vw;
    height: 5vw;
    width: 70vw;
    border: none;
}

}
@media screen and (min-width: 344px) and (max-width: 430px){
    #left-search h1{
    font-size:8vw;
    width: 70vw;
}
#left-search ul{
    margin-top: 3vh;
    width: 55vw;
}
#left-search ul li{
    padding: 1.7vh;
    height: 1vh;
    width: 8.5vw;
    margin-right: 2vw;
}
#ex{
    display: none;
}
#searchbar div{
    height: 10vw; 
    width: 10vw;
}
#searchbar{
    background-color: white;
    width: 80vw;
    height: 6vh;
    border-radius: 10px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
