section{
    width: 100vw;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 0.5vw 0vw;
    display: flex;
    justify-content: space-between;
}
section ul{
    font-family: 'Roboto';
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40vw;
    margin-left: -2vw;
}
section ul li a{
    text-decoration: none;
    color: #5F6368;
}
section ul li a:hover{
    color: black;
}
section div button{
    background-color:#fe4d03;
    color: white;
    border: none;
    width: 13.5vw;
    height: 2.5vw;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 1vw;   
}
section div {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 344px) and (max-width: 430px){
    section{
    width: 100vw;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 0.5vw 0vw;
    display: flex;
    justify-content: space-between;
}
section ul{
    font-family: 'Roboto';
    display: flex;
    list-style: none;
    font-size: small;
    justify-content: space-between;
    width: 40vw;
    padding-top: 0.5vw;
    margin-left: -2vw;
}
section ul li a{
    text-decoration: none;
    color: #5F6368;
    margin-right: 5vw;
}
section ul li a:hover{
    color: black;
}
section div button{
    background-color:#fe4d03;
    color: white;
    border: none;
    width: 13.5vw;
    height: 2.5vw;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 1vw;   
}
section div {
    display: none;
}
}
@media screen and (min-width: 430px) and (max-width: 980px) {

    section{
    width: 100vw;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 0.5vw 0vw;
    display: flex;
    justify-content: space-between;
    }
section ul li a:hover{
    color: black;
}
section div button{
    background-color:#fe4d03;
    color: white;
    border: none;
    width: 13.5vw;
    height: 2.5vw;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 1vw;   
}
    section ul{
    font-family: 'Roboto';
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 80vw;
    margin-left: -2vw;
}
section div {
    display: none;
}
section ul li a{
    text-decoration: none;
    color: #5F6368;
    font-size: 2.4vw;
}

}